# Copy this to .env and fill in your keys
# NEVER commit .env to git!

KRAKEN_API_KEY=3WsgdwA7bXY/Iee+fi63ojkZ3HUcVRF1axV1SPplAU6lWEYRB6KJWh8J
KRAKEN_API_SECRET=O+jJGHFImQhg5oQHUCi2Rapw2pAVCzgi8D7dhcWF1yEOe8orzvuTxv6T6bjRc0qIZDDdN6n0hIkLeL/BwZ4wqQ==
